@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    background-color: black;
    color: white;
    justify-content: flex-start;
}

a {
    text-decoration: none;
    color: black;
}

.head-img {
    background-image: url("img/sign-wallpaper.png");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.topnav img {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 2%;
    left: 11%;
}

.sign-form {
    background-color: rgba(0, 0, 0, 0.7);
    height: 600px;
    width: 470px;
    padding: 4rem;
    margin-top: 8%;
}

.sign-form p {
    padding-top: 1rem;
}

.sign-form h3 {
    padding-bottom: 1rem;
    text-align: left;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

input[type="text"], input[type="password"] {
    padding: 1rem;
    width: 340px;
    height: 50px;
    background-color: #333333;
    border: 1px solid #333333;
    font-size: 0.95rem;
    color: white;
    border-radius: 0.3rem;
}

input[type="password"] {
    letter-spacing: 0.1rem;
}

p.sign {
    padding-bottom: 0rem;
}

p.remember-btn {
    text-align: left;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.7rem;
}

a.forgot {
    color: white;
    text-decoration: underline;
}

button {
    color: white;
    background-color: #D2AB77;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 0.3rem;
    cursor: pointer;
    width: 340px;
    height: 50px;
    letter-spacing: 0.03rem;
}

::placeholder {
    color: #969D9B;
    letter-spacing: 0rem;
}

.remember {
    accent-color: #333333;
}

label, a.forgot {
    color: #969D9B;
}