@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    background-color: black;
    color: white;
}

.topnav {
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 2.3rem 10%;
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 1;
}

.topnav img {
    margin-top: 0.5rem;
    width: 75px;
    height: 75px;
}

.top-middle-nav {
    word-spacing: 2rem;
    letter-spacing: 0.17rem;
    list-style: none;
}

.top-middle-nav li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

a.sign {
    border-radius: 2rem;
    padding: 0.5rem 1.2rem;
    background-color: black;
    color: white;
}

.topnav a:hover {
    color: green;
}

a.sign:hover {
    background-color: #4C4C4C;
    color: white;
}

.head-img {
    background-image: url("img/heading.jpg");
    min-height: 91.4vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-flow: column wrap;
}

.text-left {
    position: absolute;
    left: 350px;
    top: 140px;
    font-size: 3.75rem;
    letter-spacing: 0.22rem;
    color: white;
}

.discover-btn {
    position: absolute;
    left: 350px;
    top: 280px;
    border-radius: 2rem;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1.6rem;
    font-size: 1.1rem;
    display: flex;
    flex-wrap: wrap;
}

a.discover-btn:hover, a.discover-btn:active {
    color: white;
    background-color: rgba(255,255,255,0.1);
}

.about-content, .contact-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1.5rem;
}

h2 {
    font-size: 3.75rem;
    text-align: center;
    padding: 7rem 0 2rem;
}

h3 {
    color: white;
    font-size: 2rem;
}

.gold {
    color: #D2AB77;
}

.about-info, .contact-form {
    background-color: #111219;
    color: #919FA6;
    width: 695px;
    height: 481px;
    padding: 2.5rem 2rem;
}

p {
    padding-top: 2rem;
    font-size: 1.1rem;
    margin-bottom: 2.5rem;
    line-height: 2.3rem;
    text-align: justify;
}

a.about-btn, a.read-btn {
    color: white;
    background-color: #D2AB77;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    
}

.product-img img{
    border-radius: 50%;
    margin: 2rem auto 0;
}

.menu, .customer-list {
    text-align: center;
    align-items: center;
    
}

.card {
    width: 450px;
    height: 350px;
    border: 1px solid #323534;
}

.hot-coffee-row1, .hot-coffee-row2, .cold-coffee-row1, .cold-coffee-row2, .customers, .blogs {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    gap: 1.3rem;
    margin: 1.5rem auto;
}

.hot-coffee-row2, .cold-coffee-row2 {
    margin-bottom: 3.3rem;
}

.hot-coffee-row2 {
    margin-bottom: 3.3rem;
}

.menu p, .customer-list p {
    padding-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.menu h3, .customer-list h3 {
    font-size: 2rem;
    margin: 0 auto 1.6rem;
}

h3.discounted {
    text-align: center;
    padding-left: 8rem;
}

.orig-price {
    text-decoration: line-through;
    padding-left: 2.4rem;
    color: #858787;
    font-size: 1.4rem;
}

a.cart-btn {
    color: white;
    background-color: #D2AB77;
    top: 500px;
    padding: 0.6rem 1.8rem;
    font-size: 1rem;
}

.customer {
    height: 440px;
    border-color: #323534;
}

.customer-img img {
    border-radius: 50%;
    margin: 2rem auto 0.8rem 0;
}

.customer p {
    font-size: 1.1rem;
    padding: 0 1.4rem;
    line-height: 2rem;
    font-family: 'Nunito', sans-serif;
}

.customer h3, .customer p {
    color: #969D9B;
}

.customer-list h2 {
    padding-top: 7rem;
}

/* CHANGE THIS TO 4.5 STAR */
.star-rating {
    display: inline-block;
    font-size: 0; 
}

.star {
    list-style: none; 
    display: inline-block;
    width: 25px; 
    height: 20px;
    margin: 0;
    padding-top: 1rem;
    position: relative;
}

.star::before {
    content: "\2605"; 
    font-size: 25px;
    color: #D2AB77;
}

.contact {
    margin-bottom: 4rem;
}

.contact-form {
    justify-content: center;
    height: 510px;
}

.contact-form h3 {
    font-size: 2.5rem;
}

.contact-form p, .contact-form h3 {
    text-align: center;
}

.contact-form p {
    line-height: 5.5rem;
}

input[type="text"], input[type="tel"] {
    padding: 1rem;
    width: 630px;
    height: 65px;
    background-color: #111219;
    border: 1px solid #323534;
    font-size: 1rem;
}

button {
    color: white;
    background-color: #D2AB77;
    border: none;
    padding: 0.7rem 2rem;
    font-size: 1rem;
}

.blog {
    height: 570px;
}

.blog-img img {
    height: 25%;
    width: 100%;
}

.blog-info {
    padding: 1.2rem;
}

h3.title {
    font-size: 1.75rem;
}

h3.author {
    font-size: 1.2rem;
    color: #D2AB77;
    padding-top: 1rem;
}

.blog-info p {
    padding-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: left;
}







