@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    background-color: black;
    color: white;
}

.topnav {
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    padding: 2.3rem 10%;
    height: 9.5vh;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 1;
    width: 100%;
}

.topnav img {
    margin-top: 0.5rem;
    width: 75px;
    height: auto;
}

.top-middle-nav {
    word-spacing: 2rem;
    letter-spacing: 0.17rem;
    list-style: none;
}

.top-middle-nav li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

input:focus {
    outline: none;
}

.topnav i {
    font-size: 1.1rem;
}

.topnav i.fa-cart-shopping {
    color: black;
    cursor: pointer;
}

.topnav i.fa-cart-shopping:hover {
    color: #D2AB77;
}

.topnav i.fa-bars {
    display: none;
}

.topnav-icon {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.topnav a:hover {
    color: #D2AB77
}

.sidebar {
    position: fixed;
    display: flex;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,0.8);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    right: -100%;
    list-style: none;
    width: 250px;
    padding: 15px;
    height: 100vh;
    transition: all 0.5s;

}


.sidebar li {
    width: 100%;
    padding: 15px;
    font-size: 1.3rem;
}

svg {
    cursor: pointer;
}

/* cart */
.cartTab{
    width: 400px;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
    z-index: 999;
}

body.showCart .cartTab{
    right: 0;
}

.cartTab .topCart {
    display: flex;
    justify-content: space-between;
}

.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
    color: black;
    font-size: 2em;
}

.cartTab button{
    background-color: #63310E;
    border: none;
    font-weight: 500;
}

.cartTab .checkOut {
    width: 100%;
    padding: 20px;
}

.cartTab .checkOut{
    font-size: 2em;
}

.cartTab .close{
    background-color: white;
    margin-top: 12px;
}

.listCart .item img{
    width: 100%;
}

.listCart .image{
    margin-left: 20px;
}

.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.listCart .item:first-child{
    margin-top: 20px;
}

.listCart .name, .listCart .totalPrice {
    color: black;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #D2AB77;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    /* margin: auto; */
    /* justify-content: center;
    text-align: center; */
    padding-top: 4.5px;
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: black;
    cursor: auto;
}

/* .listCart .item:nth-child(even){
    background-color: blue;
} */

.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}

.head-img {
    background-image: url("img/heading.jpg");
    background-repeat: no-repeat;
    height: 91.4vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 200px 80px;
}

.text-on-image {
    font-size: 3.75rem;
    letter-spacing: 0.13rem;
    color: white;
    margin-bottom: 3rem;
}

.discover-btn {
    border-radius: 2rem;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1.6rem;
    font-size: 1.1rem;
}

a.discover-btn:hover, a.discover-btn:active {
    color: white;
    background-color: rgba(255,255,255,0.1);
}

@media screen and (max-width: 953px) {
    .topnav {
        padding: 2.3rem;
    }
}

@media screen and (max-width: 860px) {
    .topnav {
        padding: 2.3rem 1rem;
        height: 6vh;
    }

    .topnav i.fa-bars {
        display: block;
    }

    .top-middle-nav.active {
        height: 100%;

    }

    .top-middle-nav {
        display: none;
    }

    .top-middle-nav li {
        display: block;
        margin: 40px;
    }

    .top-middle-nav li a:hover {
        color: #D2AB77;
    }

    #hamburger-menu:checked ~ ul {
        left: 0;

    }

    li {
        font-size: 1.1rem;
        color: white;
        padding-bottom: 1rem
    }

    li:first-child {
        padding-top: 1.5rem;
    }

    .open {
        right: 1rem;
    }

    .head-img {
        height: 100vh;
    }

    h1 {
        font-size: 5rem;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }

    .sidebar li {
        font-size: 2em;
    }

    .head-img h1, .head-img a{
        justify-content: center;
        text-align: center;
    }

}

@media (max-width: 325px) {
    .discover-btn {
        font-size: 0.8rem;
    }

}

.about-content, .contact-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1.5rem;
}

h2 {
    font-size: 3.75rem;
    text-align: center;
    padding: 7rem 0 2rem;
}

h3 {
    color: white;
    font-size: 2rem;
}

.gold {
    color: #D2AB77;
}

.about-info, .contact-form {
    background-color: #111219;
    color: #919FA6;
    padding: 2.5rem 2rem;
}

.about-img img, .about-info {
    width: 695px;
    height: 481px;
}

@media screen and (max-width: 695px) {
    .about-info, .about-img, .about-img img {
        width: 100%;
        min-height: 320px;
    }

    .about-info p{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 610px) {
    .about-info p{
        font-size: 1em;
    }
}

@media screen and (max-width: 524px) {
    :root {
        font-size: 0.8rem;
    }

    .topnav img {
        width: 60px;
        height: 60px;
    }

    .head-img {
        text-align: left;
    }
    
    ul {
        top: 60px;
    }

    
}

p {
    padding-top: 2rem;
    font-size: 1.1rem;
    margin-bottom: 2.5rem;
    line-height: 2.3rem;
    text-align: justify;
}

a.about-btn, a.read-btn {
    color: white;
    background-color: #D2AB77;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    
}

.product-img img{
    border-radius: 50%;
    margin: 2rem auto 0;
}

.menu, .customer-list, .blog-list {
    text-align: center;
    align-items: center;
    display: grid;
    justify-content: center;
    
}

.card {
    width: 400px;
    height: 350px;
    border: 1px solid #323534;
}


@media screen and (max-width: 847px) {
    .card {
        width: 350px;
        min-height: 100px;
    }
}

.listProduct, .customers, .blogs {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}

.listProduct, .blogs {
    margin-bottom: 50px;
}

@media screen and (max-width: 1300px) {
    .listProduct, .customers, .blogs {
        grid-template-columns: repeat(2, 400px);
        align-items: center;
        justify-content: center;
    }
}





.menu p, .customer-list p {
    padding-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.menu h3, .customer-list h3 {
    font-size: 2rem;
    margin: 0 auto 1.6rem;
}

h3.discounted {
    text-align: center;
}

a.cart-btn {
    color: white;
    background-color: #D2AB77;
    top: 500px;
    padding: 0.6rem 1.8rem;
    font-size: 1rem;
}

.customer {
    height: 440px;
    border-color: #323534;
}

.customer-img img {
    border-radius: 50%;
    margin: 2rem auto 0.8rem 0;
}

.customer p {
    font-size: 1.1rem;
    padding: 0 1.4rem;
    line-height: 2rem;
    font-family: 'Nunito', sans-serif;
}

.customer h3, .customer p {
    color: #969D9B;
}

.star-rating i {
    font-size: 1.1rem;
    padding: 1.2rem 0.1rem 0;
    color: #D2AB77;
}

@media screen and (max-width: 847px) {
    .listProduct, .customers, .blogs {
        grid-template-columns: repeat(1, 300px);
    }
}

@media screen and (max-width: 500px) {
    .customer {
        height: 370px;
    }

    .card {
        width: 300px;
    }

    .card .product-info p, .card .product-info h3{
        font-size: 1.8em;

    }
}

.contact {
    margin-bottom: 1.3rem;
}

.map iframe{
    max-width: 100%;
}

.contact-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.contact-form div {
    margin: 1rem;
}

.contact-form div:first-child {
    margin-top: 3rem;
}

.contact-form div:last-child {
    margin-top: 50px;
    text-align: center;
}

.contact-form, .map {
    height: 650px;
    width: 695px;
}

.map {
    justify-content: center;
}

.contact-form h3 {
    text-align: center;
    font-size: 2.5rem;
}

input[type="text"], input[type="tel"], textarea {
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    width: 630px;
    height: 65px;
    background-color: #111219;
    border: 1px solid #323534;
    font-size: 1rem;
    color: white;
}

textarea {
    resize: none;
    width: 630px;
    height: 100px;
    
}

::placeholder {
    color: #969D9B;
}

button {
    color: white;
    background-color: #D2AB77;
    border: none;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.blog {
    height: 570px;
}

@media screen and (max-width: 694px) {
    input[type="text"], input[type="tel"], textarea {
        width: 440px;
    }
}

@media screen and (max-width: 500px) {
    .contact-content {
        text-align: center;
    }

    .map {
        position: relative;
        overflow: hidden;
        padding-bottom: 75%;
        height: 0;
    }

    .contact-form {
        width: 100%;
        height: 450px; 
    }

    .map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    } 
 
    input[type="text"], input[type="tel"] {
        width: 320px;
        height: 40px;
    }

    textarea {
        width: 320px;
        height: 100px;
    }

    .contact-form div:last-child{
        margin: 0;
    }

    

    .blog {
        height: 500px;
    }

    button {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 370px) {
    h2 {
        font-size: 3rem;
    }

    input[type="text"], input[type="tel"] {
        width: 250px;
        height: 40px;
    }

    textarea {
        width: 250px;
        height: 100px;
    }

    .card {
        width: 275px;
    }

}

.blog-img img {
    height: 25%;
    width: 100%;
}

.blog-info {
    padding: 1.2rem;
}

h3.title {
    font-size: 1.75rem;
}

h3.author {
    font-size: 1.2rem;
    color: #D2AB77;
    padding-top: 1rem;
}

.blog-info p {
    padding-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: left;
}

.botnav {
    background-color: #0F0F16;
    height: 200px;
    display: flex;
    flex-flow: column wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.botnav h3 {
    font-size: 1.3rem;
    font-weight: 100;
}

.socmed i {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    line-height: 50px;
}

.socmed {
    display: flex;
    gap: 1rem;
    text-align: center;
    font-size: 1.5rem;
    justify-content: center;
}

.socmed a {
    color: white;
}

.socmed a:hover i {
    background-color: #D2AB77;
}

@media screen and (max-width: 730px) {
    .socmed i {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid white;
        line-height: 40px;
    }
    
    .socmed {
        display: flex;
        gap: 1rem;
        text-align: center;
        font-size: 1.5rem;
        justify-content: center;
    }

    .botnav {
        height: 130px;
    }

}

@media screen and (max-width: 372px) {
    .credits h3 {
        font-size: 1.3em;
    }

}





